alias update="sudo apt-get update -y; sudo apt-get upgrade -y; sudo apt autoremove -y"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"
alias restart="shutdown now -r"